@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: ui-sans-serif, system-ui, Helvetica, Arial, sans-serif;
  @apply text-slate-100;
}

@layer utilities {
  @variants responsive {
    .shadow-text-light {
      text-shadow: 0.5px 0.5px 1px rgb(20 20 20);
    }
    .shadow-text-dark {
      text-shadow: 1.5px 1.5px 2px black;
    }
  }
}
